@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">@context.User.Identity.Name</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
